services:
  web:
    build: .
    container_name: python-app-git
    restart: always
    ports:
      - "8001:8000"
    deploy:
      resources:
        limits:
          memory: 256M # Esto evita que el sistema mate a Portainer al actualizar
